<div class="row header-height">
    <div class="col-8 d-flex align-items-center justify-content-center">
        <nav class="d-flex">
            <div class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Stories</a>
            </div>
            <div class="nav-item">
                <select class="nav-link">
                    <option>Policy </option>
                    <option>policy</option>
                </select>
            </div>
        </nav>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-center">
        <button cl>
            <img src="~/images/user-img.png" class="rounded-circle profile-img" />
            <select class="profile-text">
                <option>Evan Donohue</option>
            </select>
        </button>
    </div>
</div>