<div class="content-width mt-3 d-flex justify-content-center flex-column align-items-center">
    <span class="fs-5 fw-bold">No Mission Found</span>
    <button type="submit" value="Submit new mission" class="btn btn-outline-orange rounded-pill ps-3 pe-3 fw-bold mt-4">
        Submit new mission
        <img src="~/images/right-arrow.png" class="ms-2" />
    </button>
</div>