<div class="card mt-3">
    <div class="card storylist-bg-img vh-100 storycard-height" style="background-image: url('../images/Grow-Trees-On-the-path-to-environment-sustainability.png')">
        <div class="card-img-overlay imghover justify-content-center align-items-center bg-black opacity-50 h-100">
            <button type="submit" value="View Details" class="btn btn-outline-light rounded-pill ps-3 pe-3 fw-bold">
                View Details
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>
            </button>
        </div>
    </div>
    <span class="theme rounded-pill bg-white align-self-center ps-3 pe-3 z-1 pt-1">Customer Experience</span>
    <div class="card-body">
        <span class="fs-4 fw-bold dark-gray">10 User and Customer Engagement Strategies for 2019</span>
        <p class="light-gray" style="font-size:15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
        <div class="d-flex align-items-center">
            <img src="~/images/volunteer1.png" class="volunteer-img rounded-circle"/>
            <span class="ps-2">Andrew Johnson</span>
        </div>
    </div>
</div>